/* --- ROOT --- */
:root {
    --main-color: #eceadb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
}

body {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3em; 
    font-family: 'Arial', sans-serif;
    color: #4a473e; 
    text-shadow: 2px 2px 4px #b8b09b;
    letter-spacing: 1px; 
    text-align: center; /* Center align, adjust as needed */
    margin-top: 20px; /* Space at the top, adjust as needed */
    margin-bottom: 20px; /* Space at the bottom, adjust as needed */
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid gray;  
    width: 35%;
    height: 650px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5%;
    background: linear-gradient(135deg, #eceadb 0%, #dcd0c0 100%);
}

.result-display {
    /* border: 2px solid blue; */
    height: 25%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2.2rem;
    padding: 15px;
    gap: 10px;
    overflow: hidden; /* Hide the overflowed text */
}

.current-operation-display {
    font-size: 1rem;
    min-height: 30%;
}


.calculation-result {
    min-height: 70%; /* Use min-height instead of height */
}



.control-buttons {
    /* border: 2px solid green; */
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.calculator-keys {
    /* border: 2px solid black; */
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.btn {
    width: 48%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #a6a08f; /* A darker shade of the main color */
    color: #fff; /* White text for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none; /* No border, add if needed */
    border-radius: 4px; /* Slight rounding of corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.btn:active {
    background-color: #8c897a; /* An even darker shade for hover state */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.btn[value='Delete'] {
    background: linear-gradient(135deg, #f85032 0%, #e73827 100%);
    color: white; /
}

.btn[value='Clear'] {
    background: linear-gradient(135deg, #a8e063 0%, #56ab2f 100%);
  color: white;
}


.key {
    color: #333;
    width: 100px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--main-color), #dcd0c0);
    box-shadow: 0 4px 15px 0 rgba(236, 234, 219, 0.75); 
    border-radius: 5%;
}

.key:active {
    background-color: #c2b9a8;
    transform: translateY(4px);
    box-shadow: 0 2px 10px 0 rgba(236, 234, 219, 0.5);
  }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.footer a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}