/* --- ROOT --- */
/* :root {
    --main-color: #eceadb;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid red;  
    width: 35%;
    height: 650px;
    background-color: beige;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5%;
}

.result-display {
    border: 2px solid blue;
    height: 25%;
    border-radius: 3%;
}

.control-buttons {
    border: 2px solid green;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.calculator-keys {
    border: 2px solid black;
    height: 60%;
}

.btn {
    width: 45%;
    height: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.footer a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}