/* --- ROOT --- */
/* :root {
    --main-color: #eceadb;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid red;  
    width: 35%;
    height: 650px;
    background-color: beige;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5%;
}

.result-display {
    border: 2px solid blue;
    height: 25%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2.2rem;
    padding: 15px;
    gap: 10px;
    overflow: hidden; /* Hide the overflowed text */
}

.current-operation-display {
    font-size: 1rem;
    min-height: 30%;
}


.calculation-result {
    min-height: 70%; /* Use min-height instead of height */
}



.control-buttons {
    border: 2px solid green;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.calculator-keys {
    border: 2px solid black;
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.btn {
    width: 48%;
    height: 100%;
}

.key {
    width: 100px;
    height: 70px;
    border: 2px solid pink;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.footer a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}